#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
  background-color: white;
  color: rgb(118,74,189);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.header-block{
  /* background-color: rgb(118,74,189); */
  font-weight: 100;
  /* border-radius:10px; */
  /* width: 50%; */
  height: 50%;
  margin: 1px;
  /* padding: 10px; */
  text-align: center;
  margin: auto;
 }

 .header-home-button{
  border-radius: 10px;
  margin:1px;
  background-color: rgb(118,74,189);
  color: white;
  border-color: rgb(118,74,189);
  outline: none;
 }

 .header-all-posts-button{
  border-radius: 10px;
  margin:1px;
  background-color: rgb(118,74,189);
  color: white;
  border-color: rgb(118,74,189);
 }

 .header-new-post-button{
  border-radius: 10px;
  margin:1px;
  background-color: rgb(118,74,189);
  color: white;
  border-color: rgb(118,74,189);
 } 



.new-post{
  background-color: rgb(118,74,189);
  color: white;
  font-weight: 100;
  /* border-radius:10px; */
  /* width: 70%; */
  height: 50%;
  margin: 1px;
  text-align: center;
  margin: auto;
}

.blog-textbox{
  height: 200px;
  width: 500px;
  textAlignVertical: top;
  }



h1{
  font-weight: 100;
  text-align: center;
}

h2{
  font-weight: 100;
  /* text-align: center;  */
}



.post-button{
  border-radius:10px;
  border-color: rgb(118,74,189);
  background-color: rgb(118,74,189);
  color: white;
}

content{
  font-weight: 100;
  text-align: center;
}

input[type=text] {
  padding: 5px;
  margin:10px 0;
  border-radius:10px;
  border-color: rgb(118,74,189);
}

input[type=submit]{
  
  padding: 5px;
  border-radius:10px;
  background-color: rgb(118,74,189);
  color: white;
  border-color: white;
  text-align: center;
}

.header-all-posts{
  background-color: rgb(118,74,189);
  color: white;
}

